---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ArticleComments from "../components/ArticleComments.astro";
import BlogPostJsonLD from "../components/BlogPostJsonLD.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  ogTitle,
  ogDescription,
  ogImage,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={heroImage}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogImage={ogImage}
>
  <article>
    <BlogPostJsonLD
      title={title}
      description={description}
      pubDate={pubDate}
      updatedDate={updatedDate}
      heroImage={heroImage}
    />
    <div class="hero-image">
      {heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          {
            updatedDate ? (
              <>
                Updated on <FormattedDate date={updatedDate} />
              </>
            ) : (
              <FormattedDate date={pubDate} />
            )
          }
        </div>

        <h1>{title}</h1>
        <hr />
      </div>

      <slot />
    </div>

    <ArticleComments />
  </article>
</BaseLayout>